<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/entreprise.css">

    <title>Document</title>
</head>

<body>


    <div class="container-fluid">
        <div class="row">

            <div class="col-md-2 p-0" id="sidebar-wrapper">
                {% include 'navbar.twig' %}
            </div>


            <div class="col-md-10 ml-auto" id="content">
                <div class="container-fluid">

                    <div class="form-container">
                        <form action="{% if info.num_entreprise is not null %}../Controller/entrepriseEdit.php?id={{ info.num_entreprise }}{% else %}../Controller/entrepriseAjout.php{% endif %}" method="post">
                            <div class="form-section">
                                <h3>Information</h3>
                                <div class="form-row">
                                    <label for="enterprise-name">Nom de l'entreprise<span class="theStar">*</span> :
                                    </label>
                                    <input type="text" name="raison_sociale" value="{{ info.raison_sociale }}" required>
                                </div>
                                <div class="form-row">
                                    <label for="contact-name">Nom du contact : </label>
                                    <input type="text" name="nom_contact" value="{{ info.nom_contact }}">
                                </div>
                                <div class="form-row">
                                    <label for="manager-name">Nom du responsable : </label>
                                    <input type="text" name="nom_resp" value="{{ info.nom_resp }}">
                                </div>
                            </div>

                            <div class="form-section">
                                <h3>Contact</h3>
                                <div class="form-row">
                                    <label for="street">Rue<span class="theStar">*</span> : </label>
                                    <input type="text" name="rue_entreprise" value="{{ info.rue_entreprise }}" required>
                                </div>
                                <div class="form-row">
                                    <label for="postal-code">Code postal<span class="theStar">*</span> : </label>
                                    <input type="text" name="cp_entreprise" value="{{ info.cp_entreprise }}" required>
                                </div>
                                <div class="form-row">
                                    <label for="city">Ville<span class="theStar">*</span> :</label>
                                    <input type="text" name="ville_entreprise" value="{{ info.ville_entreprise }}"
                                        required>
                                </div>
                                <div class="form-row">
                                    <label for="phone">Téléphone<span class="theStar">*</span> :</label>
                                    <input type="tel" name="tel_entreprise" value="{{ info.tel_entreprise }}" required>
                                </div>
                                <div class="form-row">
                                    <label for="fax">Fax : </label>
                                    <input type="text" name="fax_entreprise" value="{{ info.fax_entreprise }}">
                                </div>
                                <div class="form-row">
                                    <label for="email">Email : </label>
                                    <input type="email" name="email" value="{{ info.email }}">
                                </div>
                            </div>

                            <div class="form-section">
                                <h3>Divers</h3>
                                <div class="form-row">
                                    <label for="observations">Observation : </label>
                                    <textarea name="observation" rows="3"></textarea>
                                </div>
                                <div class="form-row">
                                    <label for="website">Url du site : </label>
                                    <input type="url" name="site" value="{{ info.site_entreprise }}">
                                </div>
                                <div class="form-row">
                                    <label for="level">Niveau<span class="theStar">*</span> : </label>
                                    <input type="text" name="niveau" value="{{ info.niveau }}" required>
                                </div>
                            </div>

                            <div class="form-section">
                                <h3>Spécialité : </h3>
                                <div class="form-row">
                                    <label for="specialty">Spécialité</label>
                                    <select name="specialite">
                                        <option value="SLAM" {% if info.libelle=='SLAM' %}selected{% endif %}>SLAM
                                        </option>
                                        <option value="SISR" {% if info.libelle=='SISR' %}selected{% endif %}>SISR
                                        </option>
                                        <option value="AM" {% if info.libelle=='AM' %}selected{% endif %}>AM</option>
                                        <option value="SN" {% if info.libelle=='SN' %}selected{% endif %}>SN</option>
                                        <option value="SA" {% if info.libelle=='SA' %}selected{% endif %}>SA</option>
                                    </select>

                                </div>
                            </div>

                            <div class="note">
                                Les champs comportant le symbole<span class="theStar">*</span> sont obligatoires
                            </div>

                            <div style="text-align: right;">
                                <input type="submit" value="Modifier">
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>


</body>

</html>