<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/entreprise.css">


    <title>Document</title>
</head>

<body>


    <div class="container-fluid">
        <div class="row">

            <div class="col-md-2 p-0" id="sidebar-wrapper">
                {% include 'navbar.twig' %}
            </div>


            <div class="col-md-10 ml-auto" id="content">
                <div class="container-fluid">
                    <br>
                    <div class="button-container">
                        <div class="company-action">
                            
                            <button id="toggle-form-button" class="toggle-button">
                                <img src="../../public/icons/rechercher.png" class="rechercher" />afficher
                               
                            </button>
                            Rechercher une entreprise
                           
                            <div id="company-form-container" style="display: none;">
                                <form action="" method="GET" class="form-inline">
                                    <button type="submit" class="company-search-button">
                                        <img src="../../public/icons/rechercher.png"  class="rechercher" />
                                    </button>
                                    <input type="text" name="mot" class="company-search-input" placeholder="Rechercher" />
                                </form>
                            </div>
                        </div>
                        
                        
                        
                        <a href="../Controller/EntrepriseEdit.php" class="company-action">
                            <img src="../../public/icons/ajouter.png" alt="Ajouter" />
                            <p>Ajouter une entreprise</p>
                        </a>


                        <br> 
                    </div>
                    <hr>
                    <br>




                    <div class="controls">
                        <select id="columnSelector">

                        </select>
                        <button onclick="addColumn()">Ajouter</button>
                    </div>

                    <table id="dataTable">
                        <thead>
                            <tr>

                                {% for entete in entetes %}
                                <th>{{ entete }} <button onclick="toggleColumn({{ loop.index0 }})">−</button></th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for info in information %}
                            <tr>
                                <td>
                                    <div>
                                        <a href="../Controller/EntrepriseInfo.php?id={{ info.num_entreprise }}" class="btn">
                                            <img src="../../public/icons/voir.png" />
                                        </a>
                                        <a href="../Controller/Inscription.php?id={{ info.num_entreprise }}&nom={{ info.raison_sociale }}" class="btn">
                                            <img src="../../public/icons/inscrire.png" />
                                        </a>
                                        {% if role == 1 %}
                                        <a href="../Controller/EntrepriseEdit.php?id={{ info.num_entreprise }}" class="btn">
                                            <img src="../../public/icons/modifier.png" />
                                        </a>
                                        <a href="../Controller/entrepriseSupprimer.php?id={{ info.num_entreprise }}" class="btn">
                                            <img src="../../public/icons/supprimer.png" />
                                        </a>
                                        {% endif %}


                                    </div>
                                </td>
                                <td> {{ info.raison_sociale }} </td>
                                <td>{{ info.nom_contact }}</td>
                                <td>{{ info.cp_entreprise }} {{ info.ville_entreprise }} <br> {{ info.rue_entreprise }}
                                </td>
                                <td>{{ info.libelle }}</td>
                                <td> <a href="{{ info.site_entreprise }}" class="btn">
                                        <img src="../../public/icons/lien.png" />
                                    </a></td>
                                <td>{{ info.email }}</td>
                                <td>Tel: {{ info.tel_entreprise}} <br>Fax: {{ info.fax_entreprise}}</td>
                                <td>{{ info.niveau }}</td>
                                <td>{% if info.en_activite == 1 %}
                                    OUI
                                    {% else %}
                                    NON
                                    {% endif %}

                                </td>



                            </tr>
                            {% endfor %}
                            <!-- More rows can be added here -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



</body>
<script src="../../public/js/entreprise.js"></script>
<script src="../../public/js/filtre.js"></script>

</html>