<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/entreprise.css">

    <title>Document</title>
</head>

<body>


    <div class="container-fluid">
        <div class="row">

            <div class="col-md-2 p-0" id="sidebar-wrapper">
                {% include 'navbar.twig' %}
            </div>


            <div class="col-md-10 ml-auto" id="content">
                <div class="container-fluid">

                    <div class="form-container">
                        <form action="../Controller/inscription.php" method="post">
                            <div class="form-section">
                                <h3>Inscription</h3>

                                <div class="form-section">
                                    <div class="form-row">
                                        {% if nom_entreprise is null %}
                                        <label for="specialty">Entreprise<span class="theStar">*</span> : </label>

                                        <select name="num_entreprise">
                                            {% for entreprise in entreprises %}
                                            <option value="{{ entreprise.num_entreprise }}">
                                                {{ entreprise.raison_sociale }}
                                            </option>
                                            {% endfor %}
                                        </select>

                                        
                                        {% else %}

                                            <label for="specialty">Entreprise<span class="theStar">*</span> : </label>
                                            <input type="hidden" name="num_entreprise" value="{{ entreprises }}" readonly>
                                            <input type="text" value="{{ nom_entreprise }}" readonly>

                                            
                                        {% endif %}
                                    </div>

                                    <div class="form-row"><label for="specialty">Stagiaire (étudiant)<span
                                                class="theStar">*</span> :
                                        </label>
                                        <select name="num_stagiaire">
                                            {% for stagiaire in stagiaires %}
                                            <option value="{{ stagiaire.num_etudiant }}">
                                                {{ stagiaire.nom_etudiant }} {{ stagiaire.prenom_etudiant }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>




                                    <div class="form-row"><label for="specialty">Professeur en charge<span
                                                class="theStar">*</span> :
                                        </label>
                                        <select name="num_prof">
                                            {% for prof in professeurs %}
                                            <option value="{{ prof.num_prof}}">
                                                {{ prof.nom_prof }} {{ prof.prenom_prof }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>


                                <div class="form-row">
                                    <label>Début : </label>
                                    <input type="date" name="debut_stage" required>
                                </div>
                                <div class="form-row">
                                    <label>Fin : </label>
                                    <input type="date" name="fin_stage"  required>
                                </div>



                                <div class="form-row">
                                    <label>type : </label>
                                    <input type="text" name="type_stage" required>
                                </div>


                                <div class="form-row">
                                    <label>description du projet réalisé : </label>
                                    <input type="text" name="desc_stage">
                                </div>

                                <div class="form-row">
                                    <label>observation : </label>
                                    <input type="text" name="observation_stage">
                                </div>



                            </div>



                            <div class="note">
                                Les champs comportant le symbole<span class="theStar">*</span> sont obligatoires
                            </div>

                            <div style="text-align: right;">
                                <input type="submit" value="Ajouter le Stage">
                            </div>



                        </form>



                    </div>

                </div>
            </div>
        </div>
    </div>


</body>

</html>