<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/entreprise.css">


    <title>Document</title>
</head>

<body>


    <div class="container-fluid">
        <div class="row">

            <div class="col-md-2 p-0" id="sidebar-wrapper">
                {% include 'navbar.twig' %}
            </div>


            <div class="col-md-10 ml-auto" id="content">
                <div class="container-fluid">
                    <br>
                    <div class="button-container">
                        <a href="path/to/view" class="company-action">
                            <img src="../../public/icons/rechercher.png" alt="Rechercher" />
                            <p>Rechercher un stagiaire existant</p>
                        </a>
                        <a href="path/to/view" class="company-action">
                            <img src="../../public/icons/ajouter.png" alt="Ajouter" />
                            <p>Ajouter un étudiant</p>
                        </a>


                        <br> 
                    </div>

                    <hr>
                    <br>




                    

                    <table id="dataTable">
                        <thead>
                            <tr>

                                {% for entete in entetes %}
                                <th>{{ entete }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for info in information %}
                            <tr>



                                <td>
                                    <div><a href="../Controller/StagiaireInfo.php?id={{ info.num_etudiant }}"
                                            class="btn">
                                            <img src="../../public/icons/voir.png" />
                                        </a></div>
                                </td>
                                <td>

                                    <div><a href="../Controller/StagiaireEdit.php?id={{ info.num_etudiant }}"
                                            class="btn">
                                            <img src="../../public/icons/modifier.png" />
                                        </a>
                                        <a href="../Controller/Inscription.php?id={{ info.num_etudiant }}"
                                            class="btn">
                                            <img src="../../public/icons/supprimer.png" />
                                        </a>
                                    </div>
                                </td>

                                <td> {{ info.nom_etudiant }}  {{ info.prenom_etudiant }}</td>
                                <td>{{ info.raison_sociale }}</td>
                                <td>{{ info.nom_professeur }} {{ info.prenom_professeur }} </td>
                                



                            </tr>
                            {% endfor %}
                            <!-- More rows can be added here -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



</body>


</html>