<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/entreprise.css">


    <title>Document</title>
</head>

<body>


    <div class="container-fluid">
        <div class="row">

            <div class="col-md-2 p-0" id="sidebar-wrapper">
                {% include 'navbar.twig' %}
            </div>


            <div class="col-md-10 ml-auto" id="content">
                <div class="container-fluid">
                    <br>
                    <div class="button-container">
                        <div class="company-action">

                            <button id="toggle-form-button" class="toggle-button">
                                <img src="../../public/icons/rechercher.png" class="rechercher" />afficher

                            </button>
                            Rechercher un stagiaire existant
                            <pre> </pre>

                            <div id="company-form-container" class="company-form-container" style="display: none;">

                                <form action="" method="GET" class="form-inline">
                                    <button type="submit" class="company-search-button">
                                        <img src="../../public/icons/rechercher.png" class="rechercher" />
                                    </button>

                                    <select name="alphabet" required>
                                        <option value="" disabled selected>alphabet</option>
                                        {% for char in range('A', 'Z') %}
                                        <option value="{{ char }}">{{ char }}</option>
                                        {% endfor %}
                                    </select>

                                    <select name="classe" required>
                                        <option value="" disabled selected>Classe</option>
                                        {% for classe in classes %}
                                        <option value="{{ classe.num_classe }}">
                                            {{ classe.nom_classe }}
                                        </option>
                                        {% endfor %}
                                    </select>


                                    <select name="prof" required>
                                        <option value="" disabled selected>Professeur</option>
                                        {% for prof in profs %}
                                        <option value="{{ prof.num_prof }}">
                                            {{ prof.nom_prof }} {{ prof.prenom_prof }}
                                        </option>
                                        {% endfor %}
                                    </select>

                                    <select name="entreprise" required>
                                        <option value="" disabled selected>Entreprise</option>
                                        {% for entreprise in entreprises %}
                                        <option value="{{ entreprise.num_entreprise }}">
                                            {{ entreprise.raison_sociale }}
                                        </option>
                                        {% endfor %}
                                    </select>

                                </form>
                            </div>
                        </div>
                        <a href="../Controller/StagiaireEdit.php" class="company-action">
                            <img src="../../public/icons/ajouter.png" alt="Ajouter" />
                            <p>Ajouter un étudiant</p>
                        </a>


                        <br>
                    </div>

                    <hr>
                    <br>






                    <table id="dataTable">
                        <thead>
                            <tr>

                                {% for entete in entetes %}
                                <th>{{ entete }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for info in information %}
                            <tr>



                                <td>
                                    <div><a href="../Controller/StagiaireInfo.php?id={{ info.num_etudiant }}"
                                            class="btn">
                                            <img src="../../public/icons/voir.png" />
                                        </a></div>
                                </td>
                                <td>

                                    <div><a href="../Controller/StagiaireEdit.php?id={{ info.num_etudiant }}"
                                            class="btn">
                                            <img src="../../public/icons/modifier.png" />
                                        </a>
                                        <a href="../Controller/stagiaireSupprimer.php?id={{ info.num_etudiant }}"
                                            class="btn">
                                            <img src="../../public/icons/supprimer.png" />
                                        </a>
                                    </div>
                                </td>

                                <td> {{ info.nom_etudiant }} {{ info.prenom_etudiant }}</td>
                                <td>{{ info.raison_sociale }}</td>
                                <td>{{ info.nom_professeur }} {{ info.prenom_professeur }} </td>




                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <script src="../../public/js/filtre.js"></script>

</body>


</html>